@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");
body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 1.54;
  color: #1A002F;
  overflow-x: hidden;
}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body * {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
body a, body select, body button {
  cursor: pointer;
}

.ui-datepicker-trigger {
  display: none;
}

.btn {
  border-radius: 50px;
  padding: 5px 15px;
  font-size: 14px;
}
@media screen and (min-width: 500px) {
  .btn {
    padding: 7px 17px;
    font-size: 16px;
  }
}

.link {
  padding: 10px 0;
}
.link a {
  color: #301934;
  font-size: 14px;
  opacity: 0.7;
}
.link a:hover {
  opacity: 1;
}

h2 {
  font-size: 20px;
  line-height: 1.54;
}
@media screen and (min-width: 500px) {
  h2 {
    font-size: 24px;
  }
}

select.form-control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #1A002F 50%), linear-gradient(135deg, #1A002F 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
  background-position: calc(100% - 20px) calc(1em + 0px), calc(100% - 15px) calc(1em + 0px), 100% 0px;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}
select.form-control.arrow-white {
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
}

.form-control {
  border-radius: 50px;
  color: #1A002F;
  padding: 4px 12px;
}
@media screen and (min-width: 500px) {
  .form-control {
    padding: 6px 15px;
  }
}
.form-control:focus {
  border-color: #deae00;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 232, 149, 0.65);
          box-shadow: 0 0 0 2px rgba(255, 232, 149, 0.65);
}

#map {
  width: 100%;
  height: 40vh;
  min-height: 800px;
}
@media screen and (max-width: 991px) {
  #map {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
    min-height: 450px;
  }
}

.chart-wrapper {
  overflow-x: auto;
}
.chart-wrapper .chart-content {
  width: 100%;
  min-width: 600px;
}