@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");
body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 1.54;
  color: #1A002F;
  overflow-x: hidden;
}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body * {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
body a, body select, body button {
  cursor: pointer;
}

.ui-datepicker-trigger {
  display: none;
}

.btn {
  border-radius: 50px;
  padding: 5px 15px;
  font-size: 14px;
}
@media screen and (min-width: 500px) {
  .btn {
    padding: 7px 17px;
    font-size: 16px;
  }
}

.link {
  padding: 10px 0;
}
.link a {
  color: rgb(48, 25, 52);
  font-size: 14px;
  opacity: 0.7;
}
.link a:hover {
  opacity: 1;
}

h2 {
  font-size: 20px;
  line-height: 1.54;
}
@media screen and (min-width: 500px) {
  h2 {
    font-size: 24px;
  }
}

select.form-control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #1A002F 50%), linear-gradient(135deg, #1A002F 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
  background-position: calc(100% - 20px) calc(1em + 0px), calc(100% - 15px) calc(1em + 0px), 100% 0px;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}
select.form-control.arrow-white {
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
}

.form-control {
  border-radius: 50px;
  color: #1A002F;
  padding: 4px 12px;
}
@media screen and (min-width: 500px) {
  .form-control {
    padding: 6px 15px;
  }
}
.form-control:focus {
  border-color: #deae00;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 232, 149, 0.65);
          box-shadow: 0 0 0 2px rgba(255, 232, 149, 0.65);
}

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
  font-size: 10px;
}

.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.35);
}

.info.leaflet-control {
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  opacity: 0;
  height: 0;
}
.info.leaflet-control .circle {
  display: inline-block;
  background-color: #331800;
  width: 12px;
  height: 12px;
  margin: 0 1px 0 2px;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .info.leaflet-control {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .info.leaflet-control {
    min-height: 150px;
  }
  .info.leaflet-control.show {
    opacity: 1;
    height: auto;
  }
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}
.leaflet-div-icon .map-label .map-label-content {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(26, 0, 47, 0.68);
  background: rgba(26, 0, 47, 0.36);
  text-align: center;
  display: table;
  padding: 2px 7px;
  margin: 0 auto;
  border-radius: 10px;
}

body {
  overflow-y: hidden;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute !important;
  left: 0;
  top: 0;
  z-index: -1;
}

.info.leaflet-control {
  color: #fff;
  padding: 15px;
  font-size: 16px;
  line-height: 1.5;
  background-color: rgba(51, 24, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  max-width: 100%;
}
.info.leaflet-control h4 {
  font-size: 18px;
  font-weight: 700;
}
.info.leaflet-control p {
  margin-bottom: 8px;
}

.header {
  background: #331800;
  margin-top: 22px;
  margin-left: 40px;
  padding: 10px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  width: calc(100% - 122px);
  max-width: 100px;
}
.header .form-search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 0;
}
.header .form-search > .input-gr {
  position: relative;
}
.header .form-search > .input-gr .form-control {
  font-size: 14px;
  border-radius: 50px;
}
.header .form-search > .input-gr > button {
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  position: absolute;
  top: 2px;
  right: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: calc(100% - 4px);
  padding: 0;
}
@media screen and (min-width: 500px) {
  .header .form-search > .input-gr > button {
    top: 4px;
    right: 4px;
    height: calc(100% - 8px);
  }
}
.header .menu {
  font-size: 14px;
  font-weight: 500;
}
.header .menu button {
  border: none;
  background: none;
  padding: 2px 10px;
}

.control {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.control .nav-wrapper {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 500px) {
  .control .nav-wrapper {
    padding: 15px;
  }
}
.control .nav-wrapper .control-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .control .nav-wrapper .control-wrapper {
    padding-right: 50px;
  }
}
.control .nav-wrapper .control-wrapper .form-control {
  background-color: #331800;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 5px 10px;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  height: 30px;
}
.control .nav-wrapper .control-wrapper .form-control::after {
  content: "";
}
@media screen and (min-width: 768px) {
  .control .nav-wrapper .control-wrapper .form-control {
    height: calc(2.25rem + 2px);
    font-size: 16px;
    padding: 5px 18px;
    width: 100%;
    min-width: 230px;
  }
}
.control .nav-wrapper .control-wrapper > div:not(:last-child) {
  margin-right: 15px;
}
@media screen and (max-width: 767px) {
  .control .nav-wrapper .control-wrapper > div:not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .control .nav-wrapper .control-wrapper > div {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .control .nav-wrapper .control-wrapper .control-date {
    display: none;
  }
}
.control .nav-wrapper .control-wrapper .control-date ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #331800;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.control .nav-wrapper .control-wrapper .control-date ul li a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  font-size: 23px;
  line-height: 1;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
@media screen and (min-width: 500px) {
  .control .nav-wrapper .control-wrapper .control-date ul li a {
    padding: 7px 12px;
  }
}
.control .nav-wrapper .control-wrapper .control-date ul li a:hover {
  color: #FFE895;
}
.control .nav-wrapper .control-wrapper .control-date ul li a.pp {
  font-size: 30px;
}
.control .nav-wrapper .control-wrapper .control-date ul li a.pp .pause-icon {
  display: none;
}
.control .nav-wrapper .control-wrapper .control-date ul li a.pp.readyToStop .play-icon {
  display: none;
}
.control .nav-wrapper .control-wrapper .control-date ul li a.pp.readyToStop .pause-icon {
  display: inline;
}
@media screen and (max-width: 767px) {
  .control .nav-wrapper .control-wrapper .select-date {
    width: 100px;
  }
}
@media screen and (max-width: 767px) {
  .control .nav-wrapper .control-wrapper .control-product {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 400px;
  }
}
.control .nav-wrapper .color-range {
  position: absolute;
  display: table;
  bottom: 500px;
}
@media screen and (min-width: 500px) {
  .control .nav-wrapper .color-range {
    bottom: 500px;
  }
}
.control .nav-wrapper .color-range ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.control .nav-wrapper .color-range ul li {
  padding: 5px 1px;
  text-align: center;
  font-size: 11px;
  line-height: 1;
}
.control .nav-wrapper .color-range ul li.value {
  color: #333;
  font-weight: 500;
}
.control .nav-wrapper .color-range ul li.unit {
  font-size: 8px;
  font-weight: 500;
  background-color: #fff;
}
@media screen and (min-width: 500px) {
  .control .nav-wrapper .color-range ul li.unit {
    font-size: 11px;
  }
}
@media screen and (min-width: 500px) {
  .control .nav-wrapper .color-range ul li {
    font-size: 12.9px;
    padding: 5px 4px;
  }
}
.control .control-nav-date {
  position: relative;
  background: #331800;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.control .control-nav-date .swiper {
  width: calc(100% - 60px);
}
.control .control-nav-date .swiper .swiper-wrapper {
  padding: 15px 0;
}
.control .control-nav-date .swiper .swiper-wrapper .swiper-slide {
  width: 78px;
}
@media screen and (min-width: 500px) {
  .control .control-nav-date .swiper .swiper-wrapper .swiper-slide {
    width: 150px;
  }
}
.control .control-nav-date .swiper .swiper-wrapper .swiper-slide.date {
  position: relative;
  background: #4b2d0b;
  display: block;
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  -webkit-transition: all ease-out 0.25s;
  transition: all ease-out 0.25s;
}
@media screen and (min-width: 500px) {
  .control .control-nav-date .swiper .swiper-wrapper .swiper-slide.date {
    padding: 15px;
  }
}
.control .control-nav-date .swiper .swiper-wrapper .swiper-slide.date.current::after, .control .control-nav-date .swiper .swiper-wrapper .swiper-slide.date.forecast::after {
  content: "";
  display: table;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  padding: 2px 7px 1px;
  color: #1A002F;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border: 1px solid #331800;
  background-clip: border-box;
}
@media screen and (min-width: 500px) {
  .control .control-nav-date .swiper .swiper-wrapper .swiper-slide.date.current::after, .control .control-nav-date .swiper .swiper-wrapper .swiper-slide.date.forecast::after {
    top: 0;
  }
}
.control .control-nav-date .swiper .swiper-wrapper .swiper-slide.date.current::after {
  content: "Hôm nay";
  background: #4feb7a;
}
.control .control-nav-date .swiper .swiper-wrapper .swiper-slide.date.forecast::after {
  content: "Dự báo";
  background: #ff8360;
}
.control .control-nav-date .swiper .swiper-wrapper .swiper-slide.date.selected {
  background-color: #F7ECE1;
  color: #1A002F;
}
.control .control-nav-date .swiper .swiper-wrapper .swiper-slide.date h4 {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 7px;
}
@media screen and (min-width: 500px) {
  .control .control-nav-date .swiper .swiper-wrapper .swiper-slide.date h4 {
    font-size: 15px;
  }
}
.control .control-nav-date .swiper .swiper-wrapper .swiper-slide.date label {
  cursor: pointer;
  margin: 0;
  font-size: 11px;
  line-height: 1;
  display: block;
}
@media screen and (min-width: 500px) {
  .control .control-nav-date .swiper .swiper-wrapper .swiper-slide.date label {
    font-size: 13px;
  }
}
.control .control-nav-date .swiper-btn {
  color: #fff;
  height: 100%;
  top: 0;
  margin: 0;
  width: 30px;
}
.control .control-nav-date .swiper-btn::after {
  font-size: 22px;
}
.control .control-nav-date .swiper-btn.swiper-button-prev {
  left: 0;
}
.control .control-nav-date .swiper-btn.swiper-button-next {
  right: 0;
}
/*# sourceMappingURL=index.css.map */